<div #header class="container-header" [ngClass]="{'header-fixed-position': isFixedHeader}">
  <div class="row" style="margin-bottom: 1vh;">
    <div class="col-lg-6 col-sm-12">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <span class="align-middle">รายการสินค้าหน้าร้าน</span>
        </div>
        <div class="col-lg-6 col-sm-12">
          <alert [dismissible]="true" [isOpen]="isSearch" (onClosed)="onAlertFilterClosed()">filtered!</alert>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 search-item-form" style="text-align: center;">
      <form (submit)="SearchItems(searchkeyWord)">
        <input type="text" #str [(ngModel)]="searchkeyWord" [ngModelOptions]="{standalone: true}" placeholder="Try to seach...">
        <button class="btn btn-info">ค้นหา</button>
        <button class="btn btn-info">barcode</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="slide-nav" #SlideNav>
        <span>หมวด</span>
        <a href="#" class="active">ทั้งหมด</a>
        <a href="#" class="icon" (click)="openSlideNavs()">
          <i class="fa fa-bars"></i>
        </a>
        <a href="#">News</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
      </div>
    </div>
  </div>
</div>


<div class="col">
  <div class="slide-nav" #SlideNav>
    <a href="#home" class="active">Home</a>
    <a href="javascript:void(0);" class="icon" (click)="openSlideNavs()">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>

  </div>
</div>

<div class="container">
  <div class="row container-item-list">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let item of itemList$ | async">
      <div class="container-item-button-group">
        <button class="btn btn-info">
          <fa name="ellipsis-h" size="lg"></fa>
        </button>
      </div>
      <div class="container-item">
        <div class="col">
          <img class="" alt="image" src="{{item.imageUrl}}" onError="this.src='./assets/image/20160507185832.jpg'">
        </div>
        <div class="col">
          {{ item.name }}
        </div>
        <div class="col">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">Size: 1" 1/4'</div>
            <div class="col-xs-12  col-sm-6 col-md-12 col-lg-12">Color: เหลือง </div>
          </div>
          <div class="row container-item-footer">
            <div class="col-6 col-md-12 col-lg-12">QTY: </div>
            <div class="col-6 col-md-12 col-lg-12">Price: ฿{{ item.price }}</div>
          </div>
        </div>

        <!-- <div class="col">
          <button (click)="SelectItem(item)">Edit</button><button (click)="DeleteItem(item)">Delete</button>
        </div> -->
      </div>
    </div>
  </div>
  <form (submit)="AddItem()">
    <label for="name">Name: </label>
    <input type="text" name="name" [(ngModel)]="addedItem.name" placeholder="Type Names">
    <br>
    <label for="price">Price: </label>
    <input type="number" name="price" [(ngModel)]="addedItem.price" placeholder="Price">
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" (change)="uploadFile($event.target.files)">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fs fs-upload"></i>
          </span>
        </span>
      </label>
    </div>
    <div *ngIf="(snapshot | async) as snap">
      {{ snap.bytesTransferred}}

    </div>
    <button type="submit">OK</button>
  </form>

  <form (submit)="EditItem(selectedItem)">
    <label for="name">Name: </label>
    <input type="text" name="name" [(ngModel)]="selectedItem.name" placeholder="Type Names">
    <br>
    <label for="price">Price: </label>
    <input type="number" name="price" [(ngModel)]="selectedItem.price" placeholder="Price">
    <button class="btn btn-default" type="submit">OK</button>
  </form>
</div>
