<div #header class="container-header">
  <!-- [ngClass]="{'header-fixed-position': isFixedHeader}" -->
  <div class="row" style="margin-bottom: 1vh;">
    <div class="col">
      <span class="align-middle">รายการสินค้าโรงงาน</span>
      <!-- <alert [dismissible]="true" [isOpen]="isSearch" (onClosed)="onAlertFilterClosed()">filtered!</alert> -->
    </div>

    <div class="col search-item-form text-right" style="text-align: center;">
      <form (submit)="SearchItems(searchkeyWord)">
        <input type="text" #str [(ngModel)]="searchkeyWord" [ngModelOptions]="{standalone: true}" placeholder="Try to seach...">
        <button class="btn btn-info margin-left" [disabled]="!searchkeyWord">ค้นหา</button>
        <button class="btn btn-info">barcode</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <alert [dismissible]="true" [isOpen]="isSearch" (onClosed)="onAlertFilterClosed()">filtered!</alert>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-auto">
          <span>หมวด: </span>
        </div>
        <div class="col-auto">
          <!-- <form #itemCategory="ngForm">
          <label for="itemType">ชนิด: </label> -->
          <select id="itemType" name="itemType" [(ngModel)]="itemCategory" class="form-control" (change)="queryAllData()">
            <option value=''> ทั้งหมด </option>
            <option *ngFor="let option of (itemCategoryList$ | async)" [value]="option.name">{{ option.name }}</option>
          </select>
          <!-- </form> -->
        </div>
        <div class="col-auto">
          <span>จัดเรียง: </span>
        </div>
        <div class="col-auto">
          <!-- <form #itemCategory="ngForm">
            <label for="itemType">ชนิด: </label> -->
          <select id="itemType" name="itemType" [(ngModel)]="tableHeaderSort" class="form-control">
            <option *ngFor="let option of tableHeaders" [value]="option.orderBy">{{ option.title }}</option>
          </select>
          <!-- </form> -->
        </div>
      </div>
    </div>

    <div class="col text-right">
      <div class="btn-group btn-group-toggle margin-left" ngbRadioGroup name="radioBasic" [(ngModel)]="viewMode"
        (click)="viewModeChange(viewMode)">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="image">
          <fa name="image"></fa>
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="list">
          <fa name="list-ol"></fa>
        </label>
      </div>

    </div>
  </div>

</div>

<div class="container">

  <div *ngIf="viewMode == 'image'">
    <div class="row contain-content">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let item of itemList$ | async">
        <div class="options-button-group">
          <button class="btn btn-info">
            <fa name="ellipsis-h" size="lg"></fa>
          </button>
        </div>
        <div class="item-imageMode">
          <div class="col">
            <img class="" alt="image" src="{{item.imageUrl}}" onError="this.src='./assets/image/20160507185832.jpg'">
          </div>
          <div class="col">
            {{ item.name }}
          </div>
          <div class="col">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">Size: 1" 1/4'</div>
              <div class="col-xs-12  col-sm-6 col-md-12 col-lg-12">Color: เหลือง </div>
            </div>
            <div class="row item-imageMode-footer">
              <div class="col-6 col-md-12 col-lg-12">QTY: {{ item.qty }} </div>
              <div class="col-6 col-md-12 col-lg-12">Price: ฿{{ item.price }}</div>
            </div>
          </div>
          <!-- <div class="col">
              <button (click)="SelectItem(item)">Edit</button><button (click)="DeleteItem(item)">Delete</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let item of itemList$ | async">
    {{ item | json}}
  </div> -->

  <div *ngIf="viewMode == 'list'">
    <ng-template #loading>Loading&hellip;</ng-template>
    <div class="row contain-content" *ngIf="(itemList$ | async); let list; else loading">
      <div class="col" style="text-align: center;">
        <span><b>ผลการค้นหา: </b> {{list.length}} รายการ </span>
      </div>
      <div class="table-responsive">

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th *ngFor="let header of tableHeaders; index as i">
                <span *ngIf="header.isShown">
                  {{ header.title }}
                  <button class="btn btn-primary"></button>
                </span>

              </th>
              <th>
                <span>Option</span>
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let item of list; index as i">
            <tr>
              <td *ngIf="tableHeaders[0].isShown">{{ item.name}}</td>
              <td *ngIf="tableHeaders[1].isShown">{{ item.category}}</td>
              <td *ngIf="tableHeaders[2].isShown">{{ item.type}}</td>
              <td *ngIf="tableHeaders[3].isShown">{{ item.size}}</td>
              <td *ngIf="tableHeaders[4].isShown">{{ item.qty }}</td>
              <td *ngIf="tableHeaders[5].isShown">฿{{ item.price}}</td>
              <td>
                <button class="btn btn-info" (click)="openItemdetail(item.key,content)">
                  <fa name="ellipsis-h" size="lg"></fa>
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Item information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="float: right;" class="item-imageMode">
      <img class="" alt="image" src="{{itemDetail?.imageUrl}}" onError="this.src='./assets/image/20160507185832.jpg'">
    </div>
    <p>Name: {{itemDetail?.name }}</p>
    <p>category: {{itemDetail?.category }}</p>
    <p>type: {{itemDetail?.type }}</p>
    <p>size: {{itemDetail?.size }}</p>
    <p>qty: {{itemDetail?.qty }}</p>
    <p>price: {{itemDetail?.price }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Edit</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
