/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import url('https://fonts.googleapis.com/css?family=Mali');

* {
  font-family: 'Mali', cursive;
}

:root {
  --main-bg-color: #F0EDEC;
  --nav-bar-top-bg-color: #454343;
  --nav-bar-item-color: rgb(204, 204, 204);
  --container-header: #AFADAC;
  --container-item-list: #C5C2C2;
  --container-item: #DBD8D7;
  --container-item-footer: #F1EEED;
}

body {
  background-color: var(--main-bg-color);
}

a {
  color: #84A59D;
}

.navbar-link-group a.active {
  background-color: #888787 !important;
}

.nav-item button {
  background-color: var(--nav-bar-item-color);
  color: #84A59D;
  border: solid 1px var(--nav-bar-item-color);
}

.nav-item button a {
  padding: 0px;
}

.nav-item button:hover {
  background-color: #666565;
  color: #F0EDEC;
}

.nav-item button:active {
  background-color: #3F3D3D;
}

/* a:hover {
    background: linear-gradient(white, white, pink);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.navbar-override {
  background-color: var(--nav-bar-top-bg-color);
  text-decoration-color: #F0EDEC;
}

.navbar-link-group {
  margin-left: 5vw;
}

.container-header {
  /* margin-top: 1vh; */
  width: 100%;
  margin-bottom: 1vh;
  padding: 10px;
  background-color: var(--container-header);
  border: 2px solid var(--container-header);
  border-radius: 0px 0px 10px 10px;
}

.contain-content {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 10px;
  background-color: var(--container-item-list);
  border: 2px solid var(--container-item-list);
  border-radius: 10px;
}

.item-imageMode {
  position: relative;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 10px;
  background-color: var(--container-item);
  border: 2px solid var(--container-item);
  border-radius: 10px;
}

.item-imageMode img {
  /* top: 0;
  left: auto;
  right: auto; */
  height: 100%;
  width: 100%;
  max-width: 250px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.options-button-group {
  position: absolute;
  right: 0;
  margin-top: 2vh;
  margin-right: 2vh;
  z-index: 1;
}

.options-button-group .btn-info {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
  border: 0px solid transparent;
  border-radius: 20%;
}

.options-button-group button.btn-info:hover {
  color: #ffffff;
  background-color: var(--info);
  border-color: var(--info);
}

.item-imageMode-footer {
  padding: 0px;
  background-color: var(--container-item-footer);
  border: 2px solid var(--container-item-footer);
  border-radius: 20px;
}

.search-item-form input,.search-item-form button {
  margin-left: 5px;
}

.header-fixed-position {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  margin-top: 0vh !important;
  margin-bottom: 0vh !important;
}

/* .container-override {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .container-override{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-override{
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-override{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-override{
    max-width: 1140px;
  }
} */

/* .slide-nav {
  overflow: hidden;
  background-color: #333;
}

.slide-nav a,
.slide-nav span {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.slide-nav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.slide-nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .slide-nav a:not(:first-child) {
    display: none;
  }

  .slide-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .slide-nav.responsive {
    position: relative;
  }

  .slide-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .slide-nav.responsive a,
  .slide-nav.responsive span {
    float: none;
    display: block;
    text-align: left;
  }
} */

.margin-left {
  margin-left: 10px;
}

input.ng-invalid.ng-touched {
  border: solid 1px red;
}

select.ng-invalid.ng-touched {
  border: solid 1px red;
}
