/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import url('https://fonts.googleapis.com/css?family=Mali');

* {
  font-family: 'Mali', cursive;
}

:root {
  --nav-bar-top-bg-color: #454343;
  --main-bg-color: #F0EDEC;

  --container-header: #AFADAC;
  --container-item-list: #C5C2C2;
  --container-item: #DBD8D7;
  --container-item-footer: #F1EEED;
}

body {
  background-color: var(--main-bg-color);
}

a {
  color: #F0EDEC;
}

.navbar-link-group a.active {
  background-color: #888787 !important;
}

.nav-item a:hover {
  background-color: #666565;
  color: #F0EDEC;
}

.nav-item a:active {
  background-color: #3F3D3D;
}

/* a:hover {
    background: linear-gradient(white, white, pink);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.navbar-override {
  background-color: var(--nav-bar-top-bg-color);
  text-decoration-color: #F0EDEC;
}

.navbar-link-group {
  margin-left: 5vw;
}

.container-header {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 10px;
  background-color: var(--container-header);
  border: 2px solid var(--container-header);
  border-radius: 10px;
}

.container-item-list {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 10px;
  background-color: var(--container-item-list);
  border: 2px solid var(--container-item-list);
  border-radius: 10px;
}

.container-item {
  position: relative;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 10px;
  background-color: var(--container-item);
  border: 2px solid var(--container-item);
  border-radius: 10px;
}

.container-item img {
  /* top: 0;
  left: auto;
  right: auto; */
  height: 100%;
  width: 100%;
  max-width: 250px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-item-button-group {
  position: absolute;
  right: 0;
  margin-top: 2vh;
  margin-right: 2vh;
  z-index: 1;
}

.container-item-button-group .btn-info {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
  border: 0px solid transparent;
  border-radius: 100%;
}

.container-item-button-group button.btn-info:hover {
  color: #ffffff;
  background-color: var(--info);
  border-color: var(--info);
}

.container-item-footer {
  /* position: absolute; */
  /* margin-top: 2vh;
  margin-bottom: 2vh; */
  padding: 0px;
  background-color: var(--container-item-footer);
  border: 2px solid var(--container-item-footer);
  border-radius: 20px;
}

.search-item-form {
  margin-left: auto;
  margin-right: 0;
}

